@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

body {
  font-family: "Open Sans", sans-serif;
}

.splitpanes--vertical > .splitpanes__splitter {
  background-color: var(--color-gray-200) !important;
  border-left: none !important;
}

.dark .splitpanes--vertical > .splitpanes__splitter {
  background-color: var(--color-gray-600) !important;
}

.dark .splitpanes--vertical > .splitpanes__splitter::before, ::after {
  background-color: var(--color-gray-400) !important;
}
